rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper function to check if the user is authenticated
    function isAuthenticated() {
      return request.auth != null;
    }

    // Helper function to check if the data belongs to the user
    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    // Rules for Accounts
    match /accounts/{accountId} {
      allow create: if isAuthenticated() && isOwner(request.resource.data.userId);
      allow read, update, delete: if isAuthenticated() && isOwner(resource.data.userId);
    }

    // Rules for Transactions
    match /transactions/{transactionId} {
      allow create: if isAuthenticated() && isOwner(request.resource.data.userId);
      allow read, update, delete: if isAuthenticated() && isOwner(resource.data.userId);
    }

    // Rules for Debts
    match /debts/{debtId} {
      allow create: if isAuthenticated() && isOwner(request.resource.data.userId);
      allow read, update, delete: if isAuthenticated() && isOwner(resource.data.userId);
    }

    // Rules for Goals
    match /goals/{goalId} {
      allow create: if isAuthenticated() && isOwner(request.resource.data.userId);
      allow read, update, delete: if isAuthenticated() && isOwner(resource.data.userId);
    }
  }
}
