rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Funciones de ayuda
    function isAuthenticated() {
      return request.auth != null;
    }
    function isOwner(userId) {
      return request.auth.uid == userId;
    }
    // Cuentas
    match /accounts/{docId} {
      allow create: if isAuthenticated() && isOwner(request.resource.data.userId);
      allow read: if isAuthenticated() && (resource == null || isOwner(resource.data.userId));
      allow update, delete: if isAuthenticated() && isOwner(resource.data.userId);
    }
    // Transacciones
    match /transactions/{docId} {
      allow create: if isAuthenticated() && isOwner(request.resource.data.userId);
      allow read: if isAuthenticated() && (resource == null || isOwner(resource.data.userId));
      allow update, delete: if isAuthenticated() && isOwner(resource.data.userId);
    }
    // Deudas
    match /debts/{docId} {
      allow create: if isAuthenticated() && isOwner(request.resource.data.userId);
      allow read: if isAuthenticated() && (resource == null || isOwner(resource.data.userId));
      allow update, delete: if isAuthenticated() && isOwner(resource.data.userId);
    }
    // Metas
    match /goals/{docId} {
      allow create: if isAuthenticated() && isOwner(request.resource.data.userId);
      allow read: if isAuthenticated() && (resource == null || isOwner(resource.data.userId));
      allow update, delete: if isAuthenticated() && isOwner(resource.data.userId);
    }

    // Presupuestos
    match /budgets/{budgetId} {
      allow create: if isAuthenticated() && isOwner(request.resource.data.userId);
      allow read: if isAuthenticated() && (resource == null || isOwner(resource.data.userId));
      allow update, delete: if isAuthenticated() && isOwner(resource.data.userId);
    }

    // Categorías
    match /categories/{categoryId} {
      allow create: if isAuthenticated() && isOwner(request.resource.data.userId);
      allow read: if isAuthenticated() && (resource == null || isOwner(resource.data.userId));
      allow update, delete: if isAuthenticated() && isOwner(resource.data.userId);
    }
  }
}
